#navbar1 ul {
    background-color: pink;
    display: flex;           
    flex-direction: row;   
    list-style: none;        
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;

}

a{
    text-decoration: none;
    color: brown;
}

li{
    list-style-type: none;
}
    