body{
    display: flex;
    justify-content: center;
    align-items: center;
}

#div1{
    height: 300px;
    width: 300px;
    border-style: solid;
    border-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: chocolate;
}

#div2{
    height: 150px;
    width: 150px;
    border-style: solid;
    border-color: black;
    background-color: burlywood;
}
