#b1{
  background-color: blue;  
}
#b2{
   background-color: green;
}
#b3{
    background-color: red;
}
.box{
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 25px;
    padding: 25px;
}